.AddWord {
  max-width: 700px;
}

.AddWord input {
  border: 1px solid #757575;
  border-radius: 4px;
}

.AddWord .word-input {
  text-align: right;
}

.AddWord .meaning-input {
  text-align: left;
}

.AddWord input:focus-visible {
  outline-color: rgb(229, 151, 0);
}

.AddWord .btn-wrapper {
  display: inline-flex;
  justify-content: space-between;
}

.AddWord .btn-wrapper button {
  background-color: transparent;
  border: none;
}

.AddWord .btn-wrapper .add-btn,
.AddWord .btn-wrapper .cancel-btn {
  border-radius: 4px;
  width: 100%;
}

.AddWord .btn-wrapper .add-btn {
  padding: 0px 15px;
  margin: auto 5px;
  opacity: 0.6;
}

.AddWord .btn-wrapper .add-btn:hover {
  opacity: 1;
}

.AddWord .btn-wrapper .cancel-btn {
  opacity: 0.6;
  margin: 0px 10px;
}

.AddWord .btn-wrapper .cancel-btn:hover {
  opacity: 1;
}

.AddWord input {
  width: 100%;
}

@media (max-width: 770px) {
  .AddWord .btn-wrapper {
    width: 100%;
  }
  .AddWord .btn-wrapper .add-btn,
  .AddWord .btn-wrapper .cancel-btn {
    width: 100%;
    margin-top: 5px;
  }

  .AddWord .btn-wrapper .cancel-btn {
    text-align: right;
  }
  .AddWord .btn-wrapper .add-btn {
    background-color: #f8f9fa;
    opacity: 1;
  }
}
