.AnswerForm {
  margin: 10px;
}

.answer-reveal {
  cursor: pointer;
  text-decoration: underline;
}

.next-word-btn {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.answer {
  font-size: 22px;
  margin: 20px;
}

.check-icon {
  padding-left: 10px;
}
