.NavBarItems {
  background: var(--navbar-gradient);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: var(--primary-font-color);
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-left: 20px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 70%;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: var(--primary-font-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
  background-color: var(--hover);
  border-radius: 4px;
  color: var(--primary-font-color);
}

.menu-icon {
  display: none;
  color: var(--primary-font-color);
  font-size: 1.6rem;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: var(--secondary-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0px;
  }

  .navbar-logo {
    font-size: 1.8rem;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
  }
}
