.Question {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Question div {
  margin: 20px;
}

.wordToTranslate {
  font-size: 22px;
  margin: 10px;
}

@media (max-width: 600px) {
  .Question {
    font-size: 15px;
  }

  .Question div {
    margin: 10px;
  }

  .wordToTranslate {
    font-size: 20px;
  }
}
