.get-quizzed-btn {
  background-image: var(--button-gradient);
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  border: 1px solid black;
}
.get-quizzed-btn:hover {
  background-position: right center;
  color: var(--primary-font-color);
  text-decoration: none;
}
