.get-quizzed-btn {
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.instructions {
  color: var(--primary-font-color);
}
