.Quiz {
  color: var(--primary-font-color);
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 20px;
}

.Quiz .close-quiz-btn {
  margin: 2px;
  padding: 4px 8px;
}

.Quiz .question-wrapper {
  width: fit-content;
  margin: 0 auto;
}
