.Quiz .close-quiz-btn {
  margin: 2px;
  border-radius: 4px;
  border: 1px solid black;
}

.Quiz .close-quiz-btn:hover {
  opacity: 1;
}

.Quiz .question-wrapper {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .Quiz .close-quiz-btn {
    opacity: 1;
  }
}
