.answer {
  font-size: 22px;
  margin: 20px;
  text-transform: capitalize;
}

.next-word-btn {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  padding: 2px;
  position: relative;
}

.ShowAnswer .icon {
  position: absolute;
  right: 1px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .answer {
    font-size: 20px;
  }
}
