.ShowAnswer .answer {
  font-size: 22px;
  margin: 20px;
  text-transform: capitalize;
}

.ShowAnswer .next-word-btn {
  margin-top: 10px;
  padding: 2px;
  position: relative;
  font-weight: 400;
}

.ShowAnswer .icon {
  position: absolute;
  right: 1px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .ShowAnswer .answer {
    font-size: 20px;
  }
}
