.ShowAnswer .answer {
  font-size: 22px;
  margin: 20px;
  text-transform: capitalize;
}

.ShowAnswer .next-word-btn {
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  padding: 2px;
  position: relative;
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.ShowAnswer .next-word-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}

.ShowAnswer .icon {
  position: absolute;
  right: 1px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .ShowAnswer .answer {
    font-size: 20px;
  }
}
