:root {
  --primary-color: #250902;
  --secondary-color: #ad2831;
  --tertiary-color: #38040e;
  --primary-font-color: white;
  --secondary-font-color: #38040e;
  --navbar-gradient: linear-gradient(
    90deg,
    var(--tertiary-color) 0%,
    var(--secondary-color) 100%
  );
  --hover: #c62f39;
  --button-gradient: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--tertiary-color) 51%,
    var(--secondary-color) 100%
  );
}

.MuiButton-root.MuiButton-contained {
  background-color: var(--secondary-color);
}

.MuiButton-root.MuiButton-contained:hover {
  background-color: #95232a;
}

.MuiButton-root.MuiButton-outlined {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.MuiButton-root.MuiButton-outlined:hover {
  border: 1px solid #95232a;
}
