:root {
  --primary-color: #ee7769;
  --secondary-color: white;
  --tertiary-color: #fef8f7;
  --quaternary-color: #f8f9fb;
  --primary-font-color: #383a4d;
  --secondary-font-color: #ee7769;
}

body {
  background-color: var(--secondary-color);
  height: 100vh;
}

.MuiButton-root.MuiButton-contained {
  background-color: var(--primary-color);
}

.MuiButton-root.MuiButton-contained:hover {
  background-color: var(--primary-color);
}

.MuiButton-root.MuiButton-outlined {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.MuiButton-root.MuiButton-outlined:hover {
  background-color: var(--tertiary-color);
  border: 1px solid var(--primary-color);
}
