.icon-wrapper {
  padding: 5px;
  margin: 5px auto;
  max-width: 700px;
  text-align: right;
}

.delete-wrapper {
  margin: 5px auto;
  text-align: right;
  padding: 0px 10px;
}

.delete-icon {
  font-size: 15px;
  border-radius: 50%;
  padding: 5px 7px;
  background-color: transparent;
  border: none;
}

.delete-icon:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.Quiz .close-quiz {
  float: right;
  cursor: pointer;
  opacity: 0.7;
}

.Quiz .close-quiz:hover {
  opacity: 1;
}

.Quiz .question-wrapper {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .Quiz .close-quiz {
    opacity: 1;
  }
}
