.word-wrapper,
.add-word-wrapper {
  padding: 5px;
  margin: 5px auto;
  border: 1px solid #dee2e6;
}

.add-word-wrapper:hover {
  cursor: pointer;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.word {
  font-weight: bold;
  font-size: 18px;
}

.meaning {
  color: var(--secondary-color);
}

.checkbox {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  float: right;
}

.checkbox:hover {
  background-color: #f8f9fa;
  color: white;
}

@media (max-width: 600px) {
  .checkbox-wrapper {
    visibility: visible;
    font-size: 15px;
  }

  .answer-count {
    font-size: 12px;
  }
}
