.word-wrapper,
.add-word-wrapper {
  padding: 5px;
  margin: 5px auto;
  max-width: 600px;
}

.add-word-wrapper:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.word {
  font-weight: bold;
  font-size: 18px;
}

.meaning {
  color: #c04848;
}

.AddWord {
  max-width: 600px;
}

.AddWord button {
  background-color: transparent;
  border: none;
  text-align: left;
}

.checkbox {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  float: right;
}

.checkbox:hover {
  background-color: #f8f9fa;
  color: white;
}

@media (max-width: 600px) {
  .checkbox-wrapper {
    visibility: visible;
    font-size: 15px;
  }
}
