.word-wrapper {
  padding: 5px;
  margin: 5px auto;
  max-width: 600px;
}

.word {
  font-weight: bold;
  font-size: 18px;
}

.meaning {
  color: #c04848;
}

.delete {
  color: #c4012e;
  visibility: hidden;
  width: fit-content;
  text-align: right;
}

.word-wrapper:hover .delete {
  visibility: visible !important;
}

.delete:hover {
  cursor: pointer;
}

.add-icon {
  cursor: pointer;
}

.AddWord {
  max-width: 600px;
}

.AddWord button {
  background-color: transparent;
  border: none;
  text-align: left;
}

.delete-icon {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 2px 6px;
}

.delete-icon:hover {
  background-color: #f8f9fa;
  color: white;
}

@media (max-width: 600px) {
  .delete {
    visibility: visible;
  }
}
